.module {
  background: url(../assets/background.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: auto;
}

.module-inner {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .module-inner {
    padding: 30px 0;
  }
}

.module__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px;
}
@media (max-width: 768px) {
  .module__list {
    gap: 40px;
  }
}

.module__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 20px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.1);
}

.module__item:last-child {
  max-width: 1040px;
}
@media (max-width: 1079px) {
  .module__item:last-child {
    max-width: 500px;
  }
}

.module__title-wrapper {
  display: flex;
  flex-direction: column;
}

.module__title {
  font-family: "Oswald";
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 768px) {
  .module__title {
    font-size: 24px;
    line-height: 30px;
  }
}

.module__count {
  position: absolute;
  padding: 5px 10px;
  top: -15px;
  left: 15px;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 15px;
  backdrop-filter: blur(60px);
  background: rgb(174, 163, 152);
  color: rgb(255, 255, 255);
}
